.shearContainer {
  display: none;
  visibility: hidden;
}
* {
  margin: 0;
}
body {
  background-color: #222;
  color: #eee;
}
input[type=value], input[type=text], select {
  background-color: #ddd;
  border: none;
  margin-bottom: 2px;
  margin-top: 2px;
  width: 40px;
  text-align: center;
  display: inline-block;
}
input[type=text] {
  text-align: left;
  width: 150px;
  margin-left: 6px;
}
select {
  width: 100px;
}
input[type=value]:focus, input[type=text]:focus, select:focus {
  outline: 2px solid #00ffff;
}
input[type=color] {
  background: #ccc;
  border:none;
  height: 30px;
  width: 30px;
}
#banner {
  position: sticky;
  top: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin: 0px;
  background: #660022;
  z-index: 10;
}
.globalOptions {
  background-color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
}
.globalOptions label {
  margin-left: 20px;
}
input.text_display {
  width: 200px;
}
#text_json {
  width: 400px;
}
.rotationContainer, .shearContainer, .scaleContainer, .translationContainer, .animationContainer {
  width: 250px;
  border: 1px solid #333;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: center;
  z-index: 5;
  background-color: #333;
}
p {
  margin-top: 10px;
}
.animationContainer p {
  margin-bottom: 2px;
}
.animationContainer select {
  margin-top: 10px;
  margin-bottom: 10px;
}

.slidecontainer {
  text-align: center;
  display: inline-block;
}
.rotationContainer label {
  display: inline-block;
  width: 40px;
  position: relative;
  top: -6px;
}

.rotationContainer input[type=range] {
  width: 200px;
}
input[type=range] {
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
.shearContainer input {
  width: 110px;
  display: inline-block;
}
.rotationContainer>button {
  display: inline-block;
  margin-top: 10px;
}


.scene {
  width: 200px;
  height: 200px;
  display: block;
  position: fixed;
  top: 300px;
  margin-left: 800px;
  perspective: 400px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  z-index: -1;
}

.cube_original {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transition: transform 1s;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  top: -200px;
  transform-style: preserve-3d;
  transform: translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transition: transform 1s;
}

.cube .cube__face {
  position: absolute;
  width: 190px;
  height: 190px;
  display: inline-block;
  text-align:center;
  line-height: 200px;
  font-size: 30px;
  outline: 5px solid #000000;
}
.cube_original .cube__face {
  position: absolute;
  width: 190px;
  height: 190px;
  display: inline-block;
  text-align:center;
  line-height: 200px;
  font-size: 30px;
  opacity: 0.2;
  filter: grayscale(0.6);
  outline: 5px dotted #000000;
}
.cube__face--front  {
  background: rgba(255,0,0,0.5);
transform: rotateY(0deg) translateZ(100px);
}
.cube__face--right  {
  background: rgba(0,0,255,0.5);
  transform: rotateY(90deg) translateZ(100px);
  }
.cube__face--back   {
  background: rgba(0,255,0,0.5);
  transform: rotateY(180deg) translateZ(100px);
  }
.cube__face--left   {
  background: rgba(255,255,0,0.5);
  transform: rotateY(-90deg) translateZ(100px);
  }
.cube__face--top    {
  background: rgba(0,255,255,0.5);
  transform: rotateX(90deg) translateZ(100px);
  }
.cube__face--bottom {
  background: rgba(255,0,255,0.5);
  transform: rotateX(-90deg) translateZ(100px);
}
